.compare {
    padding-bottom: 128px;

    .scroll-head { 
        background-color: @white;
    }

    &__head {
       
        &-wrap {
            display: flex;
            min-width: 1170px;
            max-width: 1170px;
            margin: 0 -5px;
        }

        .item {
            min-width: 224px;
            width: 224px;
            margin: 0 5px 10px;
            border-radius: 5px;
    
            .image {
                height: 190px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
    
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
    
            .name {
                font-size: 14px;
                font-weight: 400;
                display: block;
                margin-top: 17px;
                line-height: 1.4;
                max-height: 40px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .prices {
                display: flex;
                align-items: flex-end;
                margin-top: 5px;
    
                .curr {
                    font-weight: 700;
                    font-size: 20px;
                }
    
                .old {
                    font-size: 14px;
                    font-weight: 400;
                    color: fade(@text, 50%);
                    position: relative;
                    margin-left: 17px;
    
                    &:after {
                        content: '';
                        position: absolute;
                        left: -4px;
                        top: 50%;
                        width: calc(100% + 8px);
                        height: 1px;
                        background-color: fade(@text, 50%);
                    }
                }
            }
    
            .btns {
                display: flex;
                margin-top: 16px;
    
                &__buy {
                    .btn-orange;
                    padding: 9px 25px;
                    border-radius: 6px;
    
                    svg {
                        fill: @white;
                        width: 19px;
                        height: 20px;
                    }
                }
    
                &__delete {
                    display: flex;
                    align-items: center;
                    margin-left: 18px;
    
                    svg {
                        width: 14px;
                        height: 18px;
                        fill: #8e8e8d;
                    }
    
                    .text {
                        color: fade(@text, 50%);
                        font-size: 13px;
                        margin-left: 7px;
                    }
                }
            }
        }

        &.fixed {
            height: 337px;

            .scroll-head {
                position: fixed;
                z-index: 2;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);  
                padding: 25px 0 10px;         
                animation: slideDown;
                transition: 0.3s;       
            }

            .overflow-head {
                overflow: hidden;
                max-width: 1200px;
                padding: 0 15px;
                margin: 0 auto;
            }

            .compare__head-wrap {
                .item {
                    display: flex;
                    position: relative;
                    min-height: 95px;

                    .image {
                        width: 73px;
                        height: 73px;
                        padding: 6px;
                    }

                    .name {
                        font-size: 12px;
                        width: calc(100% - 73px);
                        max-height: 50px;
                        margin: 5px 0 0;
                    }

                    .prices {
                        position: absolute;
                        top: 60px;
                        left: 73px;
                        flex-direction: column;
                        align-items: flex-start;

                        .curr {
                            font-size: 15px;
                        }

                        .old {
                            font-size: 12px;
                            margin-left: 0;
                        }
                    }

                    .btns {
                        display: none;
                    }
                }
            }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        margin: 34px 0 54px;

        .toggle {
            position: relative;
            cursor: pointer;

            input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                visibility: hidden;

                &:checked + .text {

                    &:after {
                        opacity: 1;
                    }
                }
            }

            .text {
                position: relative;
                padding-left: 33px;
                font-size: 14px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -6px;
                    width: 24px;
                    height: 24px;
                    border: 2px solid @blue;
                    border-radius: 5px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 2px;
                    width: 14px;
                    height: 9px;
                    background-image: url("../../img/icons/blue-check.svg");
                    background-size: cover;
                    opacity: 0;
                    transition: 0.3s;
                }
            }
        }

        .delete {
            display: flex;
            align-items: center;
            margin-left: 28px;
            cursor: pointer;

            svg {
                width: 18px;
                height: 20px;
                fill: @blue;
            }

            .text {
                font-size: 14px;
                margin-left: 7px;
            }
        }
    }

    &__content {
        display: flex;
        min-width: 1170px;
        max-width: 1170px;
        margin: 0 -5px;
        position: relative;
        
        .item {
            min-width: 234px;    
            width: 234px;
            border-top: 1px solid #d5d5d5;                   

            div:not(.label) {
                border-bottom: 1px solid #d5d5d5;
                padding: 40px 5px 15px;
                position: relative;
            }
            
            &_default {
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .label {
            color: #959695;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 700;
            position: absolute;
            top: 20px;
        }
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}