.main-cat {
    background-color: #f5f5f6;
    padding: 29px 0 25px;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -7px;
    }

    &__item {
        width: calc((100% / 8) - 14px);
        height: 195px;
        margin: 0 7px 10px;
        background-color: @white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        position: relative;

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            img {
                margin: 0 auto;
            }
        }

        .text {
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            display: block;
            position: absolute;
            left: 0;
            bottom: 19px;
            right: 0;
            padding: 0 10px;
        }

        .dots {
            position: absolute;
            right: 3px;
            top: 9px;
            cursor: pointer;
            width: 25px;
            height: 25px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            background-color: inherit;

            &:hover {
                background-color: @blue;

                svg {
                    fill: @white;
                }
            }

            svg {
                width: 5px;
                height: 18px;
                fill: @text;
                transition: 0.3s;
            }
        }

        .hidden {
            position: absolute;
            left: 100%;
            top: 0;
            width: 250px;
            background-color: @white;
            padding: 20px;
            z-index: 2;
            box-shadow: 0 0 20px 0 fade(@text, 20%);
            border-radius: 6px;
            display: none;

            &.top_left {
                left: auto;
                right: 100%;

                &:before {
                    left: auto;
                    right: -16px;
                    border: 8px solid transparent; 
                    border-left: 8px solid @white;
                }
            }

            &:before {
                content: '';
                position: absolute;
                left: -16px;
                top: 14px;
                border: 8px solid transparent; 
                border-right: 8px solid @white;
            }

            .close {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;

                svg {
                    fill: @text;
                    width: 9px;
                    height: 8px;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    position: relative;
                    padding-left: 20px;

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 5px;
                        width: 6px;
                        height: 6px;
                        border-radius: 100px;
                        background-color: @blue;
                    }
                }
            }
        }
    }

    .advantages {
        display: flex;
        flex-wrap: wrap;
        margin: 5px -7px 0;

        &__item {
            position: relative;
            font-weight: 600;
            font-size: 15px;
            width: calc((100% / 4) - 14px);
            margin: 0 7px 10px;
            background-color: @white;
            border-radius: 6px;
            padding: 18px 10px 20px 69px;
            line-height: 1.4;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
            
            .icon {
                position: absolute;
                left: 13px;
                top: 20px;
                background-color: @blue;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    fill: @white;
                }
            }
            
        }
    }
}

@media screen and (max-width: 1200px) {
    .main-cat {
        &__item {
            width: calc((100% / 6) - 14px);
        }
    }
}

@media screen and (max-width: 992px) {
    .main-cat {
        &__item {
            width: calc((100% / 4) - 14px);

            .dots {
                display: none;
            }
        }

        .advantages {
            &__item {
                width: calc((100% / 2) - 14px);

                .icon {
                    top: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main-cat {
        &__item {
            width: calc((100% / 3) - 14px);
        }
    }
}

@media screen and (max-width: 576px) {
    .main-cat {
        &__item {
            width: calc((100% / 2) - 14px);
        }

        .advantages {
            &__item {
                width: calc((100% / 1) - 14px);                
            }
        }
    }
}