.about {
    padding: 0 0 113px;
    
    .pay-info {
        margin: 40px 0;

        h2 {
            font-size: 25px;
            font-weight: 600;
            margin: 0 0 35px;
        }

        table {
            .blue-table;
            width: 100%;
            
            td {
                &:nth-child(1) {
                    width: 40%;
                }
            }
        }
    }
}