.form {
    &__item {
        display: block;
        margin-bottom: 33px;        
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        .form__item,
        .form__agree {
            margin-left: 15px;
            margin-right: 15px;
        }

        &_half {
            .form__item {
                width: calc(50% - 30px);
            }
        }

        &_firstless {
            .form__item {
                &:nth-child(1) {
                    width: calc(37% - 30px);
                }
                &:nth-child(2) {
                    width: calc(63% - 30px);
                }
            }
        }
    }

    &__vertical {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__label {
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 7px;
    }

    &__input {
        width: 100%;
        height: 42px;
        //background-color: @white;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: @text;
        font-family: @commissioner;

        &.error {
            border-color: red;
        }
    }

    &__textarea {
        width: 100%;
        height: 120px;
        //background-color: @white;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 10px;
        font-size: 13px;
        line-height: 1.5;
        color: @text;
        font-family: @commissioner;

        &.error {
            border-color: red;
        }
    }

    &__checkbox {
        position: relative;
        cursor: pointer;
        display: inline-block;

        .checkbox {
            position: absolute;
            left: 0;
            display: inline-block;
            visibility: hidden;
            opacity: 0;

            &:checked + .form__checkbox-text {

                &:after {
                    opacity: 1;
                }
            }
        }

        &-text {
            font-size: 15px;
            font-weight: 500;
            position: relative;
            padding-left: 33px;
            margin: 0;

            span {
                display: block;
                font-weight: 500;
                font-size: 13px;
                color: fade(@text, 70%);
                margin-top: 6px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                
                width: 24px;
                height: 24px;
                border-radius: 5px;
                background-color: @white;
            }

            &:after {
                content: '';
                position: absolute;
                left: 5px;
                top: 8px;
                width: 14px;
                height: 9px;
                background-image: url("/img/icons/blue-check.svg");
                background-size: cover;
                opacity: 0;
                transition: 0.3s;
            }
        }
    }

    &__radio {
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 21px;

        .radio {
            position: absolute;
            left: 0;
            display: inline-block;
            visibility: hidden;
            opacity: 0;

            &:checked + .form__radio-text {

                &:after {
                    opacity: 1;
                }
            }
        }

        &-text {
            font-size: 15px;
            font-weight: 500;
            position: relative;
            padding-left: 33px;
            margin: 0;

            span {
                display: block;
                font-weight: 500;
                font-size: 13px;
                color: fade(@text, 70%);
                margin-top: 6px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border-radius: 100px;
                border: 1px solid @green;
                background-color: @white;
                  
            }

            &:after {
                content: '';
                position: absolute;
                left: 6px;
                top: 6px;
                width: 8px;
                height: 8px;
                border-radius: 100px;
                background: @green;
                background-size: cover;
                opacity: 0;
                transition: 0.3s;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
    }

    .forgot-psw {
        font-size: 14px;
        font-weight: 400;
        text-decoration: underline;
        color: @text;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__agree {
        position: relative;
        cursor: pointer;
        display: inline-block;

        .agree {
            position: absolute;
            left: 0;
            display: inline-block;
            visibility: hidden;
            opacity: 0;

            &.error + .form__agree-text {
                &:before {
                    border-color: red;
                }
                
            }

            &:checked + .form__agree-text {

                &:after {
                    opacity: 1;
                }
            }
        }

        &-text {
            font-size: 14px;
            position: relative;
            padding-left: 33px;
            margin: 0;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 24px;
                height: 24px;
                border-radius: 5px;
                background-color: @white;
            }

            &:after {
                content: '';
                position: absolute;
                left: 5px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 14px;
                height: 9px;
                background-image: url("/img/icons/blue-check.svg");
                background-size: cover;
                opacity: 0;
                transition: 0.3s;
            }

            a {
                text-decoration: underline;
            }

            span {
                display: block;
                font-weight: 500;
                font-size: 13px;
                color: fade(@text, 70%);
                margin-top: 6px;
            }
        }
    }

    &__submit {
        background-color: #61cbdc;
        border: none;
        outline: none;
        color: @white;
        font-size: 14px;
        border-radius: 100px;
        padding: 10px 17px;
    }
}

@media screen and (max-width: 1200px) {
    .form {
        &__label {
            font-size: 12px;
        }

        &__input {
            font-size: 12px;
        }

        &__textarea {
            font-size: 12px;
        }

        &__checkbox {
            &-text {
                font-size: 12px;
            }
        }

        &__radio {
            &-text {
                font-size: 12px;
            }
        }

        .forgot-psw {
            font-size: 12px;
        }

        &__agree {
            &-text {
                font-size: 12px;
            }
        }

        &__submit {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 576px) {
    .form {
        &__row {
            &_half {
                .form__item {
                    width: calc(100% - 30px);
                }
            }
    
            &_firstless {
                .form__item {
                    &:nth-child(1) {
                        width: calc(100% - 30px);
                    }
                    &:nth-child(2) {
                        width: calc(100% - 30px);
                    }
                }
            }
        }
    }
}